@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {}

.nav-link {
    color: white !important;

}

.nav-link:hover {
    color: rgb(243, 83, 83) !important;

}


.navbar-brand img {
    width: 20vw;
}




.justify-content-center {
    justify-content: start !important;
    margin-left: 19vw;

}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(5px, 28px, 0px);
    top: 10%;
    left: -5px;
    will-change: transform;
    background-color: transparent;

}

.dropdown {
    display: inline-block;
    list-style: none;


}

.dropdown-item {
    background-color: transparent;
    color: white;
    border: 1px white solid;
}

.nav-item {
    margin-right: 5px;
}




nav {
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.8);


}



.zap {
    margin-right: 1vw;
}

.zap img {

    width: 2.3vw;


}

.zap img:hover {
    width: 3.2vw;


    /* -------------------------------------------------------------------------------------------------------------------- */
}



@media screen and (min-width: 0px) and (max-width: 1000px) {
    .zap img {
        width: 8vw;
    }

    nav {
        margin-left: 1vw;
    }
    main div {
        margin-left: 1vw !important;

    }

    main img {
        display: none;

    }

    main p {
        font-size: 100% !important;
    }

    main span {
        margin-left: 10vw !important;
        font-size: 50px !important;
    }

    main div p {
        width: 100vw !important;
        text-align: center !important;
        font-size: 4vw !important;
    }

    #h2s p {
        margin-left: 1vw !important;
        text-align: center;
        width: 100vw !important;
        font-size: 50px !important;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        width: 100vw;
    }

    .fixed-top {
        width: 100vw;
    }

    html {
        width: 100vw !important;
    }

    body {
        text-align: center !important;
        width: 100vw;
    }

    nav {
        font-size: 9vw;
    }

    .navbar-brand img {
        display: none;
    }

    .dropdown-item {
        border: 1px white solid;
        color: white;
        background-color: transparent;
    }


    .navbar-nav {
        margin-left: -20vw;
    }

    /* ---------------------------------------------------------------------------------------------------------- */

    main {
        height: 230vh;
    }



    /* --------------------------------------------------------------------------------------- */
    #trc-me {
        margin-left: 5vw !important;

    }



    footer {
        width: 100vw !important;
        text-align: center;
        flex-direction: column;
        margin-top: 100vh !important;
        height: 50vh !important;
        margin-left: 1vw;
    }

    footer h2 {
        font-size: 50px !important;
        margin-left: 3vw;
    }

    footer #imgF img {
        width: 60vw;
    }

    footer ul li,
    a {
        font-size: 3vw !important;
    }

    #redes img {
        width: 10vw !important;
    }

    #fale {
        font-size: 3vw;
    }

}

#h2s {
    width: 100vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: -8px;
    margin-left: -10px;
    background-color: rgb(252, 251, 251);

}

#h2s h2 {
    width: 100vw;

    font-size: 50px;
    margin-top: 18vh;

}

#h2s p {
    margin-left: 25vw;
    margin-top: 3vw;
    width: 85vh;
    font-size: 1vw;


}

#h3 span {

    margin-top: 3vw;
    margin-left: 48vw;
    margin-right: 5vw;
    color: rgb(171, 30, 30) !important;
    font-size: 1vw;


}

#h4 {

    margin-top: 2vw;
    margin-left: 22vw;
    display: flex;

}

#h4 img {
    width: 10vw;
    height: auto;
    border-radius: 8px;
    margin-left: 10vh;
}

#h4 p {
    padding: 30px;
    text-align: left;
    border: 10px;
    margin-top: 1vw;
    margin-left: 5vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 3vh;

}

#trc-me {
    margin-left: 35vh;
    margin-top: 10vh;
    margin-bottom: 5vw;

}


footer {
    display: flex;
    background-color: rgb(7, 7, 7);
    height: 22vh;
    width: 100vw;
}

#imgF img {
    width: 18vw;
}

footer img {
    margin-left: 5%;
    margin-top: 1vh;
    width: 2vw;

}

footer h2 {
    font-weight: 500 !important;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 25px;
}

footer ul li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

footer #mSite {
    flex-grow: 1;
}

footer ul li,
a:hover {
    color: rgba(250, 9, 9, 0.966);
}

#fale {
    flex-grow: 1;
}

#fale h2,
span {

    color: white;
    font-weight: 400;
}

#fale p {
    color: white;

    font-weight: 100;
}

#redes {
    text-align: center;
    flex-grow: 1;
}

#redes h2 {
    text-align: center;

}

#redes img {

    margin-left: 1vw;
    width: 2vw;
}

#redes img:hover {
    width: 1.8vw;
}
















/* -------------------------------------------------------------------- */