* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px !important;
    width: 100vw;
    overflow-x: hidden;
}



.nav-link {
    font-weight: bold;
    color: white !important;

}

.nav-link:hover {
    color: rgb(243, 83, 83) !important;

}


.navbar-brand img {
    width: 20vw;
}




.justify-content-center {
    justify-content: start !important;
    margin-left: 19vw;

}


.dropdown {
    display: inline-block;
    list-style: none;


}

.dropdown-item {
    display: none;
    color: white;
    border: 1px white solid;
}

.nav-item {
    margin-right: 5px;
}




nav {
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.8);


}



.zap {
    margin-right: 1vw;
}

.zap img {

    width: 2.3vw;


}

.zap img:hover {
    width: 3.2vw;
}





@media (min-width: 0px) and (max-width: 1000px) {

    nav {
        font-size: 2vw;
    }

    .navbar-brand img {
        display: none;
    }

    .dropdown-item {
        border: 1px white solid;
        color: white;
        background-color: transparent;
    }


    .navbar-nav {
        margin-left: -20vw;
    }

    /* ---------------------------------------------------------------------------------------------------------- */

    main {
        height: 220vh;
    }

    .container {
        width: 800px !important;
        max-width: none;
    }

    .container img {
        width: 100%;

    }

    .container button {
        margin-left: 1px !important;
        float: left !important;
        width: 100% !important;
    }

    #desc {
        width: 100% !important;
        margin-left: 0px !important;
        flex-grow: 1 !important;


    }

    #desc p {
        line-height: 30px;
        width: 30vw;
        font-size: 30px;
        text-align: center;
    }

    .carousel-container img {
        height: 50vh;
    }



    .cardapio {
        width: 100vw;
        height: 20vh !important;
    }

    .cardapio a img {
        width: 30vw;
        margin-left: 1vw;
        height: 20vh;
        margin-bottom: 5% !important;
    }

    /* ---------------------------------------------------------------------------------- */
    #pagC {
        flex-direction: column;
        margin-top: 5vh;
        align-items: center;
        height: 60vh !important;

    }

    #pagC h2 {
        font-size: 50px;

    }

    /* --------------------------------------------------------------------------------------- */
    form {
        margin-right: 2% !important;
        text-align: center;
    }

    form ul li {

        width: 100%;
    }

    label {
        width: 100%;
        font-size: 40px !important;
    }

    .contatos {
        order: 2;
        height: 80vh !important;

    }

    .contatos input,
    textarea {
        width: 40vw !important;
        height: 5vh;
    }

    .galery {
        order: 1;
        width: 80vw !important;
        margin-top: 0vh !important;
        margin-bottom: 1vh;

    }

    #h2g {
        margin-bottom: 1px;
        font-size: 50px;
    }


    footer {

        text-align: center;
        flex-direction: column;
        margin-top: 50vh;
        height: 50vh !important;

    }

    footer h2 {
        font-size: 50px !important;
        margin-left: 3vw;
    }

    footer #imgF img {
        width: 60vw;
    }

    footer ul li,
    a {
        font-size: 3vw !important;
    }

    #redes img {
        width: 10vw !important;
    }

    #fale {
        font-size: 3vw;
    }

}

/* ---------------------------------------------------------------- */
footer {
    display: flex;
    background-color: rgb(7, 7, 7);
    height: 22vh;
}

#imgF img {
    width: 18vw;
}

footer img {
    margin-left: 5%;
    margin-top: 1vh;
    width: 2vw;

}

footer h2 {
    font-weight: 500 !important;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 25px;
}

footer ul li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

footer #mSite {
    flex-grow: 1;
}

footer ul li,
a:hover {
    color: rgba(250, 9, 9, 0.966);
}

#fale {
    flex-grow: 1;
}

#fale h2,
span {

    color: white;
    font-weight: 400;
}

#fale p {
    color: white;

    font-weight: 100;
}

#redes {
    flex-grow: 1;
}